.hover {
    transition-property: transform, filter;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}


@media (hover:hover){
    .hover:hover {
        transform: scale(1.1);
        filter: drop-shadow(3px 5px 10px rgba(15, 12, 12, 0.5))
    }
}