@use 'utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
// MOBILE 
$font-family-sans-serif: 'Poppins', Neucha, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
.info-footer {
  background : #151422;
  padding: 40px 20px;
}

.active {
  font-weight: bold;
  border-bottom: 2px solid #555;
}
.home {
  transition: opacity .2s ease-in-out;
  opacity: 0;
}


.t1 {
  display: inline-block;
  margin: 0 0.5rem;
  font-size: 60px;
  animation: zoomIn;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
  /* don't forget to set a duration! */
}
.p1 {
    display: block;
    margin: 0.5rem;
    font-size: 30px;
    font-weight: normal;
    animation: fadeIn;
    animation-duration: 5s;
}

// scss-docs-start gray-color-variables
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "black": $black,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800) !default;


// scss-docs-start theme-color-variables
$primary: $blue !default;
$secondary: #262626 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "gray": $gray-500,
  "dark": $dark) !default;

// HOME 
.text-stack {
  font-size: 12px;
  color: $gray-600;
}

// HERO SECTIONS 

.bg-hero-clientes {
  height: 60vh;
}

.bg-hero-clientes p {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.pointer {
      cursor: pointer;
}

.card,
.card-header,
.card-body,
.card-footer {
  border-radius: 0px !important;
  transition: background .2s ease-in-out;
}

.filter {
  filter: grayscale(100%);
}

/** SWIPER **/
.swiper {
  width: 75%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  width: 100%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

/* BUTTONS NAVIGATION */
// .swiper-button-prev, .swiper-button-next {
//   visibility: hidden;
// }
/* PAGINATION */
.swiper-pagination {
  display: none;
}

/* MY CONTROLS NAVIGATION */
.control-slider {
  display: none;
}
.carousel-text {
  display: none;
}

 .carousel-title {
  font-size: 40px
 }


 
.carousel-item .slide{
  height: 60vh;
}
@media (hover:hover) {
  .hover:hover {
    transform: scale(1.1);
    filter: drop-shadow(3px 5px 10px rgba(15, 12, 12, 0.5))
  }
  // .card:hover{
  //     background: rgba(74, 73, 73, 0.959) !important;
  //     color: #f3f3f3 !important;
  // }
  .control-prev:hover,
  .control-next:hover{
    transform: scale(1.1);
    opacity: .7;
  }

}


.heroNav {
  display: none !important;
}

@import "../../../node_modules/bootstrap/scss/bootstrap";

// TABLET 
@media(min-width: 720px){
  .info-footer {
    padding: 90px;
}
// HOME 
.text-stack {
  font-size: 18px
}
  // HERO SECTION 
.bg-hero-clientes {
    height: 45vh;
}
.bg-hero-clientes p{
  font-size: 21px;
  width: 50%;
}

.carousel-item .slide {
  height: 80vh;
}

.swiper {
  width: 90%;
}
  .swiper-pagination {
    display: none;
  }

  .control-slider {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .control-slider img {
    filter: grayscale(100%);
  }

  .control-prev, .control-next {
    transition: transform .2s ease-in-out;
    width: 50px;
    cursor: pointer;
  }
  .carousel-text {
      display: block;
    }
  .carousel-title {
    font-size: 60px
  }
  .heroNav {
      display: block !important; 
  }
}

// DESKTOP
@media(min-width: 992px){

}